body {
    background-color: $charcoal;
    font-family: $font-family;
}

.container {
    align-items: center;
    display: flex;
    flex-flow: column;
    height: 100vh;        
    justify-content: center;
}

.logo {
    padding-top: 20px;
}

.title {
    color: $smoke;
    font-size: 48px;
    text-transform: uppercase;
    text-shadow: 0 0 20px black;
}